.chat {
  flex: 1;
  height: 100%;
  background-color: #1a1d21;

  display: flex;
  flex-direction: column;
}

.chat__header {
  padding: 5px 10px;
  border: 0.1px solid #454545;
  border-left: none;
  background-color: #19171c;
  height: 50px;
  color: lightgray;
  display: flex;
  align-items: center;
  gap: 10px;
}

.chat__icon {
  height: 100%;
}

.chat__feed {
  flex: 1;
  overflow: auto;
}

.message {
  width: 100%;
  display: flex;
  padding: 10px 20px;
  gap: 10px;
  color: lightgray;
}

.message:hover {
  background-color: #222529;
}

.message__user-img {
  width: 40px;
  height: 40px;
}

.message__header {
  display: flex;
  align-items: center;
  gap: 10px;
}

.message__time {
  font-size: 12px;
}

.chat__footer {
  background-color: #1a1d21;
  height: 70px;
}

.chat__footer form {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #1a1d21;
  padding: 15px;
}

.chat__message-input {
  padding: 10px;
  color: lightgray;
  font-size: 18px;
  height: 100%;
  border-radius: 5px;
  outline: none;
  border: none;
  flex: 1;
  background-color: #222529;
}

.chat__members {
  height: 100%;
  padding: 5px;
  display: flex;
  align-items: center;
  gap: 10px;
  border: 0.1px solid #454545;
  border-radius: 5px;
  margin-left: auto;
  cursor: pointer;
}

.chat-members__icon {
  height: 100%;
}

.channel-members__add-btn {
  border: none;
  height: 30px;
  padding: 0 20px;
  border-radius: 5px;
  margin-left: 15px;
  background-color: rgb(52, 122, 92);
  color: lightgray;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
}

.add-user__icon {
  cursor: pointer;
  width: 35px;
  height: 35px;
  background-color: white;
  border-radius: 10px;
}

.chat-area__actions {
  margin-left: auto;
  display: flex;
  gap: 10px;
  height: 100%;
}
