.sidebar {
  color: lightgray;
  width: 100%;
  height: 100%;
  background-color: #19171c;
  border: 0.1px solid #454545;
  display: flex;
  flex-direction: column;
  font-size: 12px;
  gap: 10px;
}

.sidebar__header {
  padding: 5px 10px;
  border: 0.1px solid #454545;
  border-left: none;
  background-color: #19171c;
  height: 50px;
  color: lightgray;
  display: flex;
  align-items: center;
  gap: 10px;
}

.list-item__badge {
  padding: 2px 5px;
  background-color: #980f0f;
  border-radius: 10px;
}

.badge {
  background-color: #980f0f;
  border-radius: 10px;
}
