.login {
  width: 100%;
  height: 100%;
  background-color: #1a1d21;

  display: flex;
  justify-content: center;
  align-items: center;
}

.login__inner {
  width: 400px;
  height: 600px;
  padding: 40px;
  background-color: #19171c;
  border: 0.1px solid #454545;
  border-radius: 5px;

  display: flex;
  flex-direction: column;
}

.login__inner h1 {
  color: #71a0f7;
  font-size: 35px;
  margin-bottom: 0;
}

.login__inner p {
  margin-top: 8px;
  color: gray;
}

.login__form {
  flex: 1;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.login__form label {
  width: 100%;
  margin-top: 20px;
  color: lightgrey;
}

.login__form input {
  padding: 0 10px;
  font-size: 18px;
  width: 100%;
  height: 50px;
  margin-top: 10px;
  background-color: #1a1d21;
  border: 0.1px solid #454545;
  color: lightgray;
  border-radius: 5px;
}

.login__form input:focus {
  outline: 1px solid gray;
}

.login__form button {
  margin-top: 30px;
  width: 60%;
  height: 50px;
  border-radius: 5px;
  border: none;
  font-size: 16px;
  background-color: #127fe6;
  color: lightgrey;
}

.login__form button:hover {
  background-color: #356acd;
  cursor: pointer;
}
