* {
  box-sizing: border-box;
}

p,
h1,
h3,
h4 {
  margin: 0;
}

.App {
  width: 100vw;
  height: 100vh;
  background-color: #1a1d21;

  display: flex;
  justify-content: center;
  align-items: center;
}

.sidebar__header,
.chat__header {
  padding: 5px 10px;
  border: 0.1px solid #454545;
  border-left: none;
  background-color: #19171c;
  height: 50px;
  color: lightgray;
  display: flex;
  align-items: center;
  gap: 10px;
}
